html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************/




body{
font-family: 'Gotham Rounded Bold';
background: #dddddd;
}
.wrapper {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
header {
	background-image: url(./img/Livello.png);
	height: 745px;
}
header ul {
	margin: 0 auto;
	padding-top: 40px;
}
header ul li {
	display: inline;
	padding-left: 80px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
}
header ul li:first-child {
	padding-left: 90px;
}
.items {
	width: 70%;
	margin: 0 auto;
}
.items h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	color: #ffffff;
	padding-top: 245px;
	letter-spacing: 5px;
}
.items p {
	text-align: center;
	font-size: 16px;
	font-family: 'Gotham Rounded Medium';
	color: #ffffff;
	padding-top: 20px;
	letter-spacing: 2px;
}
.items .buttons, .description .buttons {
	text-align: center;
	margin-top: 50px;
}
.items .buttons a, .description .buttons a{
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
	padding: 22px 32px 22px 32px;
	background: #16a085;
	border-radius: 2px;
}
.container2 {
	height: 484px;
	background: #f5f6f7;
}
.container2 .description {
	width: 40%;
	display: inline-block;
}
.container2 .description h2 {
	padding-left: 130px;
	padding-top: 115px;
	color: #16a085;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2;
}
.container2 .description p {
	padding-left: 130px;
	padding-top: 50px;
	font-family: 'Gotham Rounded Book';
	font-size: 12px;
	color: #505051;
	line-height: 27px;
	letter-spacing: 1px;
	text-align: justify;
}
.container2 .description span {
	font-family: 'Gotham Rounded Bold';
}
.container2 .description .buttons a{
	margin-left: -75px;
}
.container2 .phone1 {
	float: right;
	clear: both;
	padding-top: 85px;
	max-height: 400px;
	overflow: hidden;
	width: 60%;
}
.container2 .phone1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: -5%;
}
.container3 {
	height: 560px;
	background: #f5f6f7;
}
.container3 .phone2 {
	float: left;
	clear: both;
	padding-top: 159px;
	max-height: 400px;
	overflow: hidden;
	width: 50%;
}
.container3 .phone2 img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	padding-left: 130px;
}
.container3 .description {
	width: 50%;
	display: inline-block;
}
.container3 .description h2 {
	padding-left: 130px;
	padding-top: 115px;
	color: #16a085;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.2;
}
.container3 .description p {
	padding-left: 130px;
	padding-top: 50px;
	font-family: 'Gotham Rounded Book';
	font-size: 12px;
	color: #505051;
	line-height: 27px;
	letter-spacing: 1px;
	text-align: justify;
	max-width: 430px;
}
.container3 .description span {
	font-family: 'Gotham Rounded Bold';
}
.container3 .description .buttons a{
	margin-left: -210px;
}
.container4 {
	height: 485px;
	background: #f5f6f7;
}
#clear {
	clear: both;
	width: 100%;
	height: 1px;
}
.container4 .table1 {
	text-align: center;
	float: left;
	padding-left: 15px;
	width: 386px;
}
.container4 .table1 img{
	padding-top: 167px;	
	
}
.container4 .table1 h2 {
	color: #373737;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 30px;
}
.container4 .table1 p{
	font-family: 'Gotham Rounded Medium';
	font-size: 10px;
	color: #505051;
	line-height: 15px;
	letter-spacing: 1px;
	padding-top: 30px;	
	max-width: 146px;
	padding-left: 122px;
}
.container4 .table2 {
	float: left;
}
.container4 .table2 img{
	padding-top: 120px;
	padding-left: 15px;
}
.container4 .table3 {
	float: left;
}
.container4 .table3 img{
	padding-top: 120px;
	padding-left: 15px;
}
.container5 {
	height: 790px;
	background-image: url(./img/Livello3.png);
	text-align: center;
}
.container5 .description{
	color: #ffffff;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 350px;
}
.container5 .email {
	
	color: #505051;
	text-transform: uppercase;

}
input::-webkit-input-placeholder {
	color: #373737; 
	font-family: 'Gotham Rounded Medium';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
form {
  position: relative;
  width: 345px;
  margin: 0 auto;
  padding-top: 35px;
}
input {
  width: 100%;
  height: 60px;
  padding-left: 10px;
  border: 2px solid #16a085;
  border-radius: 2px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 35px;
  right: 0px;
  width: 60px;
  height: 60px;
  border: none;
  background: #16a085;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
button:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 22px;
  color: #F9F0DA;
}
.container6 {
	height: 400px;
	background: #f5f6f7;
}
.container6 .desc {
	text-align: center;
	width: 100%;
}
.container6 h2{
	font-size: 20px;
	color: #373737;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 90px;
}
.container6 p {
	text-align: center;
	width: 70%;
	margin-left: 15%;
	padding-top: 20px;
	font-size: 12px;
	font-family: 'Gotham Rounded Light';
	letter-spacing: 2px;
	color: #939494;
	line-height: 27px;
	font-weight: 100;
}
.two_buttons {
	text-align: center;
	padding-top: 20px;
}

.two_buttons a{
	text-decoration: none;
	padding: 25px 80px 20px 25px;
	background-color: #1abc9c;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 2px;
}

.two_buttons a:last-child{
	margin-left: 20px;
}

.two_buttons a svg{
	position: relative;
    left: 80px;
    top: 20px;
    font-size: 25px;
    padding: 19px;
	background: #16a085;
	border-radius: 0 2px 2px 0;
}
.footer {
	height: 130px;
	background: #ffffff;
}
.footer .description {
	font-size: 14px;
	color: #373737;
	letter-spacing: 2px;
	padding-top: 85px;	
	padding-left: 130px;
}